# Check for Overbank Flows
This page is to quickly check whether there were any floods during the study period at the five gauges used in the study.

- Stages are reported in their original units, feet;
- Flood stages were set by the NWS
- Reported in the Legacy gauge pages
- no flood stages reported for Curwensville or Hyde.

Gauge listing:
- 01541200 Curwensville: nothing
- 01541303 Hyde: nothing
- 01542500 Karthaus:
    - Supplied by NWS:
        - Action stage-16 ft;
        - Flood stage-19 ft, the left, or west bank overflows;
        - Moderate flood stage-22 ft, several homes in low lying areas near Mosquito Creek are affected;
        - Major flood stage-24 ft, a number of homes are affected by high water.

- 01545500 GAGE HEIGHTS OF IMPORTANCE.
    - Supplied by NWS:
          - Action stage - 12 ft;
          - Flood stage - 16 ft;
          - Moderate flood stage - 18 ft;
          - Major flood stage - 22 ft.

- 01551500 GAGE HEIGHTS OF IMPORTANCE.
    - Supplied by USGS:
          - Maximum recordable gage height (stage sensor operational limit) - 41.0 ft;
          - Data transmitter operational limit - 42.4 ft;
    - Supplied by NWS:
          - Action stage-10 ft;
          - Flood stage-20 ft, high water affects a few homes and some roadways in areas not protected by levee system; camping area west of Williamsport significantly affected;
          - Moderate flood stage-21 ft, a number of residences and roads in the area outside the levee system are affected;
          - Major flood stage-30 ft, many homes and businesses outside the levee system are affected by high water.

- Flood stages listed here: https://waterwatch.usgs.gov/new/?m=flood&r=pa&w=real,table
- NWS site for Renovo: https://water.noaa.gov/gauges/rovp1
    - **"Action":** The level which, when reached by a rising stream, represents the level where the NWS or a customer/partner needs to take some type of mitigation action in preparation for possible significant hydrologic activity.
    - **"Minor Flooding":** Minimal or no property damage, but possibly some public threat.

In [6]:
import hydrofunctions as hf
print("Hydrofunctions version: ", hf.__version__)

import numpy as np

import pandas as pd
print("Pandas version: ", pd.__version__)

Hydrofunctions version:  0.2.4
Pandas version:  2.2.1

In [7]:
flood_stages = {"action":{"01541200":np.nan, "01541303":np.nan, "01542500":16.0, "01545500":12.0, "01551500":10.0},
               "flood":{"01541200":np.nan, "01541303":np.nan, "01542500":19.0, "01545500":16.0, "01551500":20.0},
               }
stages = pd.DataFrame(flood_stages)
stages

          action  flood
01541200     NaN    NaN
01541303     NaN    NaN
01542500    16.0   19.0
01545500    12.0   16.0
01551500    10.0   20.0

In [3]:
# Read the original data into a new NWIS object.
data = hf.NWIS(file='WBdata.parquet')
data.df().head()

Reading data from WBdata.parquet

,USGS:01541200:00060:00000,USGS:01541200:00060:00000_qualifiers,USGS:01541200:00065:00000,USGS:01541200:00065:00000_qualifiers,USGS:01541303:00060:00000,USGS:01541303:00060:00000_qualifiers,USGS:01541303:00065:00000,USGS:01541303:00065:00000_qualifiers,USGS:01542500:00060:00000,USGS:01542500:00060:00000_qualifiers,USGS:01542500:00065:00000,USGS:01542500:00065:00000_qualifiers,USGS:01545500:00060:00000,USGS:01545500:00060:00000_qualifiers,USGS:01545500:00065:00000,USGS:01545500:00065:00000_qualifiers,USGS:01551500:00060:00000,USGS:01551500:00060:00000_qualifiers,USGS:01551500:00065:00000,USGS:01551500:00065:00000_qualifiers
datetimeUTC,,,,,,,,,,,,,,,,,,,,
2012-10-01 04:00:00+00:00,242.0,A,3.59,A,256.0,A,3.25,A,652.0,A,1.82,A,1340.0,A,0.84,A,2950.0,A,1.35,A
2012-10-01 04:15:00+00:00,246.0,A,3.60,A,256.0,A,3.25,A,652.0,A,1.82,A,1340.0,A,0.84,A,2950.0,A,1.35,A
2012-10-01 04:30:00+00:00,242.0,A,3.59,A,256.0,A,3.25,A,652.0,A,1.82,A,1320.0,A,0.82,A,2970.0,A,1.36,A
2012-10-01 04:45:00+00:00,242.0,A,3.59,A,256.0,A,3.25,A,646.0,A,1.81,A,1320.0,A,0.82,A,2970.0,A,1.36,A
2012-10-01 05:00:00+00:00,242.0,A,3.59,A,256.0,A,3.25,A,646.0,A,1.81,A,1310.0,A,0.81,A,2970.0,A,1.36,A

In [5]:
data.df('stage').describe()

,USGS:01541200:00065:00000,USGS:01541303:00065:00000,USGS:01542500:00065:00000,USGS:01545500:00065:00000,USGS:01551500:00065:00000
count,140087.000000,140311.000000,140347.000000,140296.000000,140302.000000
mean,3.901311,4.147330,2.834478,2.194239,2.990586
std,0.786200,1.231439,1.287531,1.789296,2.413424
min,2.300000,2.740000,0.920000,-0.380000,-0.330000
25%,3.410000,3.190000,1.820000,0.800000,1.140000
50%,3.800000,3.860000,2.650000,1.940000,2.610000
75%,4.250000,4.720000,3.550000,3.080000,4.120000
max,8.080000,11.930000,8.710000,12.670000,15.910000

In [8]:
stages.T

        01541200  01541303  01542500  01545500  01551500
action       NaN       NaN      16.0      12.0      10.0
flood        NaN       NaN      19.0      16.0      20.0

# Results
**No Flooding**
The first two gauges, Curwensville and Hyde, don't have flood stages marked, so we can't tell there.

For the rest, Karthaus (01542500) didn't have any flooding during the study period.

The two DS gauges, Renovo (01545500) and Williamsport (01551500) went over the "action" stage, but never reached the "flood" stage.